<div class="wrapper rounded">
    <!-- Holder information -->
    <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start">
        <a class="navbar-brand" href="#">Holder's Information<p class="text-muted pl-1">Good morning {{account.name}},
                here is a summary of your personal information</p> </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> -->
    </nav>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <ul class="nav nav-tabs w-75">
            <li class="nav-item"> <a class="nav-link active" href="#history">Your personal Address</a> </li>
        </ul>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col">Civic Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Province</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"> <span class="fa fa-home mr-0"></span> &nbsp; {{holder.Address.CivicAddress}} </td>
                    <td class="text-muted">{{account.city}}</td>
                    <td class="text-muted text-center">{{account.province}}</td>
                    <td class="text-muted text-center">{{account.postalCode}}</td>
                    <td class="text-muted text-center">{{account.Country}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <ul class="nav nav-tabs w-75">
            <li class="nav-item"> <a class="nav-link active" href="#history">Your contact information</a> </li>
        </ul>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"> <span class="fa fa-user mr-0"></span> &nbsp; {{account.name}} </td>
                    <td class="text-muted">{{account.email}</td>
                    <td class="text-muted">{{account.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Balance: -->

    <!-- <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start">
        <a class="navbar-brand" href="#">Balance<p class="text-muted pl-1"></p> </a> <button class="navbar-toggler"
            type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    </nav>

    <div>
        <div class="d-flex justify-content-start align-items-center">
            <p class="text-white ml-4 fa fa-money"></p>
            <p class="text mx-3">Your current balance on your <strong> </strong>account is: </p>
            <p class="text-white ml-4 money">${{account.currentBalance}}</p>
        </div>
    </div> -->


    <div class="d-flex justify-content-between align-items-center results"> <span class="pl-md-3"></span>
            <div class="pt-3"></div>
    </div>
</div>