<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!user"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="user">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user.username}}</td>
      <td>{{ user.requestId}}</td>
      <td>{{ user.securityChallenge }}</td>
      <td>{{ user.answer }}</td>
    </tr>
  </tbody>
</table>
