<!-- Taken from https://bootsnipp.com/snippets/dldxB -->


<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/flinks-logo.png"  id="icon" alt="Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" name="login" placeholder="Username">
      <input type="text" id="password"  name="login" placeholder="Password">
      <input type="submit" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/error">Forgot Password?</a>
    </div>

  </div>
</div>
